.full-footer {
    position: fixed;
    height: 180px;
    display: flex;
    
    background-color: rgb(30, 154, 158);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    
  }

 .contact{
  
   width: 300px;
   margin-left: 20%;
   margin-top:2%;

 }
 .contact i{
   margin: 10px;
   font-size: 30px;
 }

 .emailing{
  
  width: 500px;
  margin-left: 20%;
  margin-top:2%;
 }
 .emailing form{
  margin-left: 20%;
 }